:host{
    margin: 0;

    ion-card{
        line-height: 1.5;
        padding-right: 0px;
        border-radius: 8px;
        margin-left: 0;
        margin-right: 17px;
    }

    ion-card.ios{
        margin-bottom: 8px;
        margin-top: 8px;
        margin-left: 0;
        margin-right: 17px;
    }

    ion-card-header{
        padding: 0;
        text-align: center;
    }

    ion-card-subtitle{
        margin-bottom: 0;
        padding: 2px 0;
    }

    ion-card-content{
        min-width: 40px;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: x-small;
        line-height: 1.0;
        strong{
            font-size: 16px;
        }
        p{
            padding: 0;
            font-size: 12px;
            font-weight: 600;
        }
    }
    .card-content-md p{
        line-height: 1.2;
        margin-bottom: 0;
    }

    ion-card-subtitle{
        font-size: small;
    }
}