<ion-card>
    <ion-card-header color="{{headerIonColor || 'primary'}}">
        <ion-card-subtitle>{{dayName}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        <p>
            <strong>{{monthDay}}</strong>
        </p>
        <p>{{monthName}}</p>
    </ion-card-content>
</ion-card>