<boxx-custom-modal>
    <div title translate>Idioma - Language</div>
    <ion-list>
        <ion-item mode="ios" *ngFor="let language of languageList" (click)="selectLanguage(language)">
            <ion-label position="stacked">language.name</ion-label>
            <ion-input readonly [value]="language.description"></ion-input>
            <ion-icon *ngIf="language.selected" slot="end" size="small" color="success"
                src="assets/icon/Icon_NoActiveModule_Step.svg"></ion-icon>
        </ion-item>
    </ion-list>
</boxx-custom-modal>