<ion-item detail="{{showDetail}}">
    <ion-avatar slot="start" class="boxx-contact-item-avatar">
        <div>{{contact.name[0]}}{{contact.lastName[0]}}</div>
    </ion-avatar>
    <ion-label>
        <h2>{{contact.name}} {{contact.lastName}}</h2>
        <p class="boxx-contact-item-detail email" *ngIf="contact.email && showEmail">
            <ion-icon class="boxx-contact-item-detail-icon email" name="mail-open"></ion-icon>
            {{contact.email}}
        </p>
        <p class="boxx-contact-item-detail phone" *ngIf="contact.phone">
            <ion-icon class="boxx-contact-item-detail-icon phone" name="call"></ion-icon>
            {{contact.phone}}
        </p>
    </ion-label>

    <ng-content select="ion-icon"></ng-content>
</ion-item>