<ion-item detail="{{showDetail}}">
    <ng-content select="boxx-calendar-sheet"></ng-content>

    <ion-label>
        <h2>{{event.title}}</h2>
        <h3 [hidden]="!event.place">
            <ion-icon name="location"></ion-icon>
            {{event.place}}
        </h3>
        <p>
            <ion-icon name="time"></ion-icon>
            {{eventDatetimeFrom}}
        </p>
        <div class="attendee-avatar-container">
            <ion-avatar *ngFor="let attendee of event.attendees.slice(0, maxAttendeeToshow)">
                <div>{{attendee.initials}}</div>
            </ion-avatar>
            <a *ngIf="maxAttendeeToshow && event.attendees.length > maxAttendeeToshow">
                {{'EVENTS.andXMore' | translate: '{x: '+(event.attendees.length - maxAttendeeToshow)+'}'}}
            </a>
        </div>
    </ion-label>

    <ng-content select="ion-icon"></ng-content>
</ion-item>