.attendee-avatar-container {
    display: flex;
    align-items: flex-end;
    white-space: initial;
    font-size: small;
    
    ion-avatar {
        min-width: 24px;
        width: 24px;
        height: 24px;
        font-size: smaller;
        margin-right: 6px;
    }
}  