<ion-grid class="ion-margin-bottom ion-no-padding">
    <ion-row>
        <ion-col size="4" id="contacts-chart-col">
            <div id="contacts-chart-counter">
                <div>
                    <h3>{{stats.total}}</h3>
                    {{labels.contacts}}
                </div>
            </div>

            <div id="contacts-chart-container">
                <ng-content></ng-content>
            </div>
        </ion-col>

        <ion-col size="8" id="contacts-stats-col">
            <ion-item>
                <ion-label>
                    <p>
                        <span class="contact-bullet bullet1"></span>
                        {{labels.not_specified}}
                    </p>
                </ion-label>
                <ion-note slot="end" class="ion-no-margin">{{stats.not_specified}}%</ion-note>
            </ion-item>

            <ion-item>
                <ion-label>
                    <p>
                        <span class="contact-bullet bullet2"></span>
                        {{labels.prospect}}
                    </p>
                </ion-label>
                <ion-note slot="end" class="ion-no-margin">{{stats.prospect}}%</ion-note>
            </ion-item>

            <ion-item>
                <ion-label>
                    <p>
                        <span class="contact-bullet bullet3"></span>
                        {{labels.client}}
                    </p>
                </ion-label>
                <ion-note slot="end" class="ion-no-margin">{{stats.client}}%</ion-note>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>