#contacts-chart-col {
    padding: 0;
}

#contacts-stats-col {
    padding-left: 16px;
}

#contacts-chart-container {
    position: relative;
    width: 69vw;
    margin-left: -20vw;
}

#contacts-chart-counter {
    height: 100%;
    position: absolute;
    z-index: 2;
    text-align: center;
    align-items: center;
    display: grid;
    width: 100%;
    h3 {
        margin: 0;
    }
}

.contact-bullet {
    width: 10px;
    height: 12px;
    display: inline-flex;
    margin-right: 4px;
    border-radius: 3px;

    &.bullet1 {
        background: var(--ion-color-primary, red); //#6f7779
    }

    &.bullet2 {
        background: var(--ion-color-secondary, green); //#0032e6;
    }

    &.bullet3 {
        background: var(--ion-color-tertiary, blue); //#3a8340;
    }
}
