.main-wrapper {
    margin-top: var(--boxx-progress-container-margin-top, 24px);
    margin-bottom: var(--boxx-progress-container-margin-bottom, 32px);
    margin-left: var(--boxx-progress-container-margin-left, 16px);
    margin-right: var(--boxx-progress-container-margin-right, 16px);
    color: var(--boxx-progress-container-color, var(--ion-color-primary));
    text-align: var(--boxx-progress-container-align, center);
    font-size: 15px;
    font-weight: 600;

    .progress-wrapper {
        color: var(--boxx-progress-text-color, white);
        text-align: var(--boxx-progress-text-align, right);
        font-size: 12px;
        font-weight: 500;

        .text {
            padding: var(--boxx-progress-text-padding, 0);
            margin: var(--boxx-progress-text-margin, 0 0 4px 0);
        }

        ion-progress-bar {
            height: var(--boxx-progress-bar-height, 8px);
            background: var(--boxx-progress-bar-background, white);
        }
    }

    ::ng-deep ion-button {
        margin: var(--boxx-progress-button-margin, 16px 0);
        &:last-of-type {
            margin-bottom: 32px;
        }
    }
}
