<div class="main-wrapper" [ngClass]="class">
    <div class="progress-wrapper">
        <div class="text">{{text}}</div>
        <ion-progress-bar [color]="progressbarColor || 'success'" [value]="value"></ion-progress-bar>
    </div>
    <ng-content></ng-content>
</div>