<boxx-custom-modal>
    <div title translate>GENERAL.ACTION.selectCountry</div>

    <ion-item-divider color="light" sticky>
        <ion-searchbar mode="md" #CountryPicker showCancelButton="never" cancelButtonIcon="close-circle-outline"
            (ionChange)="search($event.detail.value)" placeholder="{{'GENERAL.ACTION.searchCountry' | translate}}">
        </ion-searchbar>
    </ion-item-divider>

    <ion-virtual-scroll [items]="items" approxItemHeight="64px">
        <ion-item *virtualItem="let country" (click)="select(country)">
            <ion-label>
                <ion-img [src]="country.flag" [alt]="country.name" style="width: 24px; display: inline-block;">
                </ion-img>
                {{country.translations.es || country.name}}
            </ion-label>
        </ion-item>
    </ion-virtual-scroll>
</boxx-custom-modal>