<ion-header mode="md">
    <ion-toolbar color="primary">
        <div class="brand-icon-wrapper">
            <ion-icon src="assets/icon/Icon_Header_Brand.svg"></ion-icon>
        </div>

        <ion-title>
            <div class="custom-header-wrapper" translate>
                GENERAL.contacts
            </div>
        </ion-title>

        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <boxx-native-version-info></boxx-native-version-info>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list class="ion-no-margin ion-no-padding" [formGroup]="contactForm">
        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>
                FORM.LABEL.name
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validationMessages.name">
            <div class="error-feedback"
                *ngIf="contactForm.get('name').hasError(validation.type) && contactForm.get('name').invalid">
                <p>{{validation.message | translate: validation.params}}</p>
            </div>
        </div>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>
                FORM.LABEL.lastName
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="last_name" type="text"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validationMessages.last_name">
            <div class="error-feedback"
                *ngIf="contactForm.get('last_name').hasError(validation.type) && contactForm.get('last_name').invalid">
                <p>{{validation.message | translate: validation.params}}</p>
            </div>
        </div>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>
                FORM.LABEL.type
            </ion-label>
            <ion-select placeholder="{{'GENERAL.ACTION.select' | translate}}" formControlName="type"
                [okText]="'GENERAL.ACTION.ok' | translate" [cancelText]="'GENERAL.ACTION.cancel' | translate"
                interface="popover">
                <ion-select-option *ngFor="let cType of types" [value]="cType.key">{{cType.value}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item (click)="presentPopover()" class="boxx-input-item">
            <ion-label>
                <p>
                    <ion-text color="primary" translate>FORM.LABEL.country</ion-text>
                </p>
                <img alt="country flag" src="{{contactForm.get('country_code').value.flag}}" style="width: 32px;">
                {{contactForm.get('country_code').value.translations.es || contactForm.get('country_code').value.name}}
            </ion-label>
        </ion-item>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>
                FORM.LABEL.phone
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-row style="width: 100%;">
                <ion-col size="2" style="display: grid; align-content: center;">
                    <small>{{contactForm.get('phone_code').value}}</small>
                </ion-col>
                <ion-col size="10">
                    <ion-input formControlName="phone" type="tel" id="phone-input" minLength="10" maxLength="10"
                        placeholder="123 4567 890">
                    </ion-input>
                </ion-col>
            </ion-row>
        </ion-item>
        <div *ngFor="let validation of validationMessages.phone">
            <div class="error-feedback"
                *ngIf="contactForm.get('phone').hasError(validation.type) && contactForm.get('phone').invalid">
                <p>{{validation.message | translate: validation.params}}</p>
            </div>
        </div>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>
                FORM.LABEL.email
            </ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validationMessages.email">
            <div class="error-feedback"
                *ngIf="contactForm.get('email').hasError(validation.type) && contactForm.get('email').invalid">
                <p>{{validation.message | translate: validation.params}}</p>
            </div>
        </div>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>
                FORM.LABEL.address
            </ion-label>
            <ion-input formControlName="street_address" type="text"></ion-input>
        </ion-item>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>
                FORM.LABEL.city
            </ion-label>
            <ion-input formControlName="city" type="text"></ion-input>
        </ion-item>
    </ion-list>

    <div class="ion-margin-vertical">
        <ion-button color="primary" expand="block" (click)="update()" *ngIf="mode == 'UPDATE'"
            [disabled]="contactForm.invalid" translate>
            GENERAL.ACTION.update
        </ion-button>
        <ion-button color="primary" expand="block" (click)="create()" *ngIf="mode == 'CREATE'"
            [disabled]="contactForm.invalid" translate>
            GENERAL.ACTION.create
        </ion-button>
    </div>

</ion-content>