<ion-header mode="md">
    <ion-toolbar color="primary">
        <div class="brand-icon-wrapper">
            <ion-icon src="assets/icon/Icon_Header_Brand.svg"></ion-icon>
        </div>

        <ion-title>
            <div class="custom-header-wrapper" translate>
                GENERAL.ACTION.selectCountry
            </div>
        </ion-title>

        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <boxx-native-version-info></boxx-native-version-info>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-divider color="light" sticky>
        <ion-searchbar mode="md" #CountryPicker showCancelButton="never" cancelButtonIcon="close-circle-outline"
            (ionChange)="search($event.detail.value)" placeholder="{{'GENERAL.ACTION.searchCountry' | translate}}"></ion-searchbar>
    </ion-item-divider>

    <ion-virtual-scroll [items]="items" approxItemHeight="64px">
        <ion-item *virtualItem="let country" (click)="select(country)">
            <ion-label>
                <ion-img [src]="country.flag" [alt]="country.name" style="width: 24px; display: inline-block;">
                </ion-img>
                {{country.translations.es || country.name}}
            </ion-label>
        </ion-item>
    </ion-virtual-scroll>
</ion-content>