<div id="qr-spinner-container" *ngIf="(isLoading$ | async) === true">
    <ion-spinner  id="qr-spinner"></ion-spinner>
</div>
<div *ngIf="websiteUrl && (isLoading$ | async) === false">
    <ion-icon src="assets/icon/qr.svg" slot="end" (click)="openQRPopover()">
    </ion-icon>
</div>
