#qr-spinner-container {
    width: 100%;
    text-align: center;

    ion-spinner {
        color: var(--ion-color-primary-contrast, white);
    }
}

ion-icon {
    border-radius: 5px;
    padding: 5px;
    background: var(--ion-color-primary-contrast, white);
}