<ion-content class="ion-padding-bottom">
    <div class="qr-toolbar">
        <ion-button fill="clear" (click)="close()">
            <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
    </div>
    <div class="ion-text-center" *ngIf="websiteUrlString">
        <ngx-qrcode [elementType]="elementType" [value]="websiteUrlString" cssClass="qr-container"
            errorCorrectionLevel="L">
        </ngx-qrcode>

        <ion-button color="primary" id="downladableQr" (click)="saveImage($event.target)" translate>
            GENERAL.ACTION.download
        </ion-button>

    </div>
</ion-content>