<ion-header mode="md">
    <ion-toolbar color="primary">
        <div class="brand-icon-wrapper">
            <ion-icon src="assets/icon/Icon_Header_Brand.svg"></ion-icon>
        </div>

        <ion-title>
            <div class="custom-header-wrapper" translate>
                FORM.LABEL.place
            </div>
        </ion-title>

        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <boxx-native-version-info></boxx-native-version-info>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-divider color="light" sticky>
        <ion-searchbar mode="md" #placePickerSB [debounce]="300" showCancelButton="never"
            (ionInput)="onInput($event.target.value)" cancelButtonIcon="close-circle-outline"
            placeholder='{{"EVENTS.enterAddress" | translate}}'></ion-searchbar>
    </ion-item-divider>

    <ion-list class="padding-right">
        <ion-item *ngFor="let item of searchResults" (click)="chooseItem(item)">
            <p>{{ item.description }}</p>
        </ion-item>
    </ion-list>
</ion-content>