:host {
    .message-item-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0 16px 16px;

        ion-col {
            padding: 0;
        }
    }

    .message-item-row-content {
        width: 100%;
    }

    .message-item-row-content-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        .top-icon-container {
            font-size: x-large;
            width: 36px;
            height: 36px;
            background: #d3d3d3;
            border-radius: 8px;
        }

        ion-row {
            width: 100%;
        }

        .col-left {
            white-space: normal;
            padding-left: 8px;
        }

        .col-right {
            padding-top: 3px;
            font-size: smaller;
            text-align: right;
        }
    }

    .bottom-row {
        
        .left-col {
            margin-top: 8px;
        }

        .right-col {
            .right{
                display: flex;
                height: 100%;
                flex-wrap: wrap;
                align-content: space-between;
                justify-content: space-evenly;

                .top{
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                }
                
                .bottom {
                    width: 100%;
                    text-align: right;
                }
            }
        }
    }

    .message-detail-icon {
        min-width: 32px;

        ion-icon {
            margin-left: 8px;
            font-size: x-large;
        }
    }
}