<div class="message-item-row">
    <div class="message-item-row-content">
        <div class="message-item-row-content-top">
            <div class="top-icon-container">
                <ng-content select="div[slot=top-left]"></ng-content>
            </div>
            <ion-row>
                <ion-col class="col-left">
                    <div>
                        <ng-content select="div[slot=top-center]"></ng-content>
                    </div>
                </ion-col>
                <ion-col class="col-right">
                    <div>
                        <ng-content select="div[slot=top-right]"></ng-content>
                    </div>
                </ion-col>
            </ion-row>
        </div>

        <ion-row class="bottom-row">
            <ion-col class="left-col" size="6">
                <div class="bottom-left">
                    <ng-content select="ion-label[slot=bottom-start]"></ng-content>
                </div>
            </ion-col>
            <ion-col class="right-col" size="6">
                <div class="right">
                    <div class="top">
                        <ng-content select="div[slot=bottom-end-top]"></ng-content>
                    </div>
                    <div class="bottom">
                        <ng-content select="div[slot=bottom-end-bottom]"></ng-content>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ng-content></ng-content>
    </div>

    <div class="message-detail-icon">
        <ion-icon name="chevron-forward-outline" [hidden]="!detail"></ion-icon>
    </div>
</div>