<boxx-custom-modal>
    <div title translate>FORM.LABEL.place</div>

    <ion-item-divider color="light" sticky>
        <ion-searchbar mode="md" #placePickerSB debounce="500" showCancelButton="never"
            (ionInput)="onInput($event.target.value)" cancelButtonIcon="close-circle-outline"
            placeholder='{{"EVENTS.enterAddress" | translate}}'></ion-searchbar>
    </ion-item-divider>

    <ion-list>
        <ion-item mode="ios" *ngFor="let item of searchResults" (click)="chooseItem(item)">
            <ion-label class="ion-text-wrap">{{ item.description }}</ion-label>
        </ion-item>
    </ion-list>
</boxx-custom-modal>