<div class="app-version-number">
    <div *ngIf="(appVersionService.whenReady$ | async) as appVersionService">
        {{appVersionService.versionNumber && appVersionService.versionNumber !== 'PWA' ? 'v'+appVersionService.versionNumber : 'PWA'}}
    </div>
</div>