.fake-input {
    font-size: 21px;
    font-weight: 700;
    color: var(--fakeinput-icon-color, var(--ion-color-secondary));
    text-align: var(--fakeinput-align, center);
    color: var(--fakeinput-color, var(--ion-color-secondary));
}

.real-input {
    ::ng-deep ion-input,
    ::ng-deep ion-textarea {
        font-size: 21px;
        font-weight: 700;
        color: var(--realinput-color, var(--ion-color-secondary));
        text-align: var(--realinput-align, center);
    }
    ion-icon#boxx-hidden-input-close-icon {
        width: 29px !important;
        height: 29px !important;
        margin-top: var(--realinput-icon-margin-top, 19px);
        margin-bottom: var(--realinput-icon-margin-bottom, 18px);
        color: var(--realinput-icon-color, var(--ion-color-secondary));
    }
}
ion-item {
    --padding-start: 24px;
    --padding-end: 24px;
    --inner-padding-end: var(--item-inner-padding-end, 0);
}
