<div class="main-input-wrapper">
    <ion-item [hidden]="inputShown" class="fake-input boxx-bg-transparent" lines="none">
        <ion-label (click)="toggleRealInputVisibility(true)">
            {{text}}
        </ion-label>
    </ion-item>
    <ion-item class="real-input boxx-bg-transparent" [hidden]="!inputShown" lines="none">
        <ng-content select="ion-input"></ng-content>
        <ng-content select="ion-input | ion-textarea"></ng-content>
        <ion-icon class="boxx-hidden-input-close-icon" [name]="closeIconName || 'close-circle'"
            [size]="closeIconSize || 'large'" (click)="toggleRealInputVisibility(false)"
            [slot]="closeIconSlot || 'end'">
        </ion-icon>
    </ion-item>
</div>