ion-list {
    background: var(--boxx-list-background, unset);
}

ion-item {
    --border-width: 0;
    margin-bottom: 24px;
    --min-height: 64px;
}

#card-number-item {
    ion-icon[slot="start"] {
        margin-left: 16px;
        margin-right: 16px;
    }

    ion-icon[slot="end"] {
        margin-right: 16px;
    }
}

#card-expiration-date {
    ion-input {
        min-width: 5vw;
        max-width: 12vw;
        background: var(
            --boxx-expiration-input-background,
            var(--boxx-app-background, white)
        );
        padding-left: var(--boxx-expiration-input-padding-left, 8px) !important;
        padding-right: var(
            --boxx-expiration-input-padding-right,
            8px
        ) !important;

        &:first-of-type {
            margin-right: var(--boxx-expiration-leftinput-margin-right, 4px);
        }

        &:last-of-type {
            margin-left: var(--boxx-expiration-rightinput-margin-left, 4px);
        }
    }
}

ion-col {
    padding: 0;
    &:first-child {
        padding-right: 8px;
    }
    &:last-child {
        padding-left: 8px;
    }
}

p {
    font-size: 14px;
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
}

.pos-3 {
    ion-col:first-child {
        padding-right: 8px;
    }
    ion-col:last-child {
        padding-left: 8px;
    }
}
