<div class="main-wrapper">

    <ion-list class="boxx-input-list">
        <ion-row class="item-section pos-1">
            <ion-col size="12" class="ion-no-padding">
                <p>Número de tarjeta *</p>
                <ion-item mode="ios">
                    <ion-label position="stacked"></ion-label>
                    <ion-input type="number" placeholder=""></ion-input>
                    <ion-icon slot="start" src="/assets/icon/Icon_SubMenuProfileAccountPayment.svg"></ion-icon>
                    <ion-icon slot="end" src="/assets/icon/Btn_MessengerCamera.svg"></ion-icon>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-item mode="ios" class="item-section pos-2">
            <ion-label position="stacked">Alias *</ion-label>
            <ion-input placeholder="Alias de tu tarjeta"></ion-input>
        </ion-item>

        <ion-row class="item-section pos-3">
            <ion-col size="6" class="ion-no-padding">
                <p>Fecha de expiración *</p>
                <ion-item mode="ios">
                    <ion-label></ion-label>
                    <ion-input placeholder="MM/YY"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
                <p>CVV *</p>
                <ion-item mode="ios">
                    <ion-label></ion-label>
                    <ion-input placeholder="CVV"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-item mode="ios" class="item-section pos-4" (click)="openCountryPicker()">
            <ion-label position="stacked">País *</ion-label>
            <ion-input [hidden]="country.name" readonly placeholder="Seleccionar País">
            </ion-input>
            <div class="input-with-right-icon" [hidden]="!country.name">
                <div>{{ country.name }}</div>
                <ion-img [src]="country.flag"></ion-img>
            </div>
            <ion-icon slot="end" size="small" name="caret-down" color="primary"></ion-icon>
        </ion-item>

        <ion-item mode="ios" class="item-section pos-5">
            <ion-label position="stacked">C.P *</ion-label>
            <ion-input placeholder="Código postal"></ion-input>
        </ion-item>

    </ion-list>

    <p class="ion-text-center">
        <ion-text color="danger">Tarjeta invalida</ion-text>
    </p>
</div>