.brand-icon-wrapper {
    position: var(--boxx-brand-icon-wrapper-position, absolute);
    top: var(--boxx-brand-icon-wrapper-top, 0);
    width: var(--boxx-brand-icon-wrapper-width, 100%);
    text-align: var(--boxx-brand-icon-wrapper-align, center);
    z-index: var(--boxx-brand-icon-wrapper-z-index, 999);
    line-height: 0;

    ion-icon {
        width: var(--boxx-brand-icon-width, 56px);
        height: var(--boxx-brand-icon-height, 20px);
        color: var(--boxx-brand-icon-color, white);
    }
}
