<ion-header class="ion-no-border">
    <ion-toolbar>
        <div id="grabber"></div>
        <ion-title>
            <ng-content select="div[title]"></ng-content>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="close-circle" color="medium"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ng-content></ng-content>
</ion-content>