:host {
    background: var(--boxx-modal-header-background, #01091a);
}
ion-header {
    ion-toolbar {
        margin-top: var(--boxx-modal-toolbar-margin-top, 45px);
        margin-bottom: var(--boxx-modal-toolbar-margin-bottom, -2px);
        border-top-left-radius: var(--boxx-modal-toolbar-topleft-radius, 10px);
        border-top-right-radius: var(--boxx-modal-toolbar-topright-radius, 10px);
        --background: var(--boxx-modal-toolbar-background, var(--boxx-app-background, white));
        color: var(--boxx-modal-toolbar-color, var(--ion-color-dark));

        ion-title {
            margin-left: var(--boxx-modal-title-margin-left, 11px) !important;
            font-size: var(--boxx-modal-title-font-size, 17px);
            font-weight: var(--boxx-modal-title-font-weight, 700);
        }

        ion-buttons[slot="end"] {
            margin-right: var(--boxx-modal-buttons-end-margin-right, 4px);
        }

        #grabber {
            width: var(--boxx-modal-grabber-width, 36px);
            height: var(--boxx-modal-grabber-height, 5px);
            background: var(--boxx-modal-grabber-background, #c7c7cc);
            margin: var(--boxx-modal-grabber-margin, 0 auto);
            position: var(--boxx-modal-grabber-position, absolute);
            top: var(--boxx-modal-grabber-top, 7px);
            left: var(--boxx-modal-grabber-left, 15px);
            right: var(--boxx-modal-grabber-right, 0);
        }
    }
}

ion-content {
    position: var(--boxx-modal-content-position, absolute);
    height: var(--boxx-modal-content-height, 100%);
}
