<!-- KPI CELL -->
<div class="kpi {{className}}">
    <div class="kpi-icon">
        <ion-icon name="{{iconName}}" src="{{iconSrc}}" [hidden]="!iconName && !iconSrc"></ion-icon>
    </div>
    <div class="kpi-label">
        {{label}}
    </div>
    <div class="kpi-counter">
        <div class="value">{{value}}</div>
    </div>
</div>