:host{
  display: contents;
  
    .kpi {
        text-align: center;
        min-width: 120px;
        max-width: 100%;
        min-height: 125px;
        max-height: 300px;
        padding: 10px;
        box-shadow: lightgray 0px 0px 4px;
        border-radius: 29px;
        background-color: white;
        position: relative;
        display: grid;
      }
    
      .kpi ion-icon {
        font-size: x-large;
        display: flex;
        margin: auto;
      }
}