<div id="panel-header">
    <ion-row id="panel-header-info">
        <ion-col size="10">
            <ng-content select="ion-label"></ng-content>
        </ion-col>
        <ion-col size="2" id="header-right-col">
            <ng-content select="boxx-qr-component"></ng-content>
        </ion-col>
    </ion-row>
    <ng-content></ng-content>
</div>