#panel-header {
    position: relative;
    height: 160px;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    width: 120%;
    margin-top: -1px;
    margin-left: -10%;
    padding-left: 10%;
    padding-right: 10%;

    background-color: var(--ion-color-primary, white);
    color: var(--ion-color-primary-contrast, black);
    
    border-left: 6px solid var(--ion-color-secondary, black);
    border-bottom: 6px solid var(--ion-color-secondary, black);
    border-right: 6px solid var(--ion-color-secondary, black);
}

#panel-header-info {
    font-size: 12px;
    padding: 8px;
    
    ion-col {
        padding: 0;
    }
}

#header-right-col {
    padding: 1px;
    font-size: 2.7em;
    text-align: right;
}  
