<ion-header mode="md">
    <ion-toolbar color="primary">
        <div class="brand-icon-wrapper">
            <ion-icon src="assets/icon/Icon_Header_Brand.svg"></ion-icon>
        </div>

        <ion-title>
            <div class="custom-header-wrapper" translate>
                GENERAL.contacts
            </div>
        </ion-title>

        <ion-buttons slot="start">
            <ion-button (click)="close()" [hidden]="isFiltering">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end" [hidden]="isFiltering || !hasChanges()">
            <ion-button (click)="select()" translate>
                <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end" [hidden]="!isFiltering">
            <ion-button (click)="showAll()" translate>
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <boxx-native-version-info></boxx-native-version-info>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-divider color="light" sticky>
        <ion-searchbar mode="md" #contactPickerSB showCancelButton="never" cancelButtonIcon="close-circle-outline"
        (ionChange)="search($event.detail.value)" [value]="searchValue"
        placeholder="{{'CONTACTS.searchPlaceholder'| translate}}"></ion-searchbar>
    </ion-item-divider>

    <div *ngIf="isLoading$ | async" class="ion-padding">
        <ion-item class="ion-no-padding">
            <ion-label>
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </ion-label>
            <ion-thumbnail slot="start" style="width: 20px; height: 20px; margin-right: 30px; margin-left: 4px;">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
        </ion-item>
        <ion-list>
            <ion-item class="ion-no-padding" *ngFor="let item of [].constructor(5)">
                <ion-label>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </ion-label>
                <ion-thumbnail slot="start" style="width: 20px; height: 20px; margin-right: 30px; margin-left: 4px;">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
            </ion-item>
        </ion-list>
    </div>

    <ion-item [hidden]="(isLoading$ | async) || isFiltering" class="padding-right">
        <ion-label>
            <strong>{{"GENERAL.total" | translate}}: {{contactList.length}}
                {{ (contactList.length == 1 ? "GENERAL.contact" : "GENERAL.contacts") | translate}}
            </strong>
        </ion-label>
        <ion-checkbox mode="ios" slot="start" [(ngModel)]="masterCheck" [indeterminate]="isIndeterminate"
            (click)="checkMaster()"></ion-checkbox>
    </ion-item>

    <ion-list class="ion-padding">
        <ion-item class="ion-no-padding" *ngFor="let item of searchResults">
            <ion-label>
                <h3>{{item.contact.name}} {{item.contact.lastName}}</h3>
                <p>{{item.contact.email}}</p>
                <p>{{item.contact.phone}}</p>
            </ion-label>
            <ion-checkbox mode="ios" slot="start" [(ngModel)]="item.isChecked" (ionChange)="checkEvent()">
            </ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>