.content-header-wrapper {
    padding-top: var(--boxx-header-padding-top, 0);
    padding-bottom: var(--boxx-header-padding-bottom, 0);
    background: var(--boxx-header-background, transparent);

    .icon {
        margin-top: var(--boxx-header-icon-margin-top, 8px);
        margin-bottom: var(--boxx-header-icon-margin-bottom, 24px);
        line-height: var(--boxx-header-icon-line-height, 0);
        text-align: var(--boxx-header-icon-text-align, center);
        ::ng-deep ion-icon {
            color: var(
                --boxx-header-icon-color,
                var(--ion-color-primary-contrast)
            );
            width: var(--boxx-header-icon-size, 26px);
            height: var(--boxx-header-icon-size, 26px);
        }
    }
    .title {
        margin-top: var(--boxx-header-title-margin-top, 24px);
        margin-bottom: var(--boxx-header-title-margin-bottom, 16px);
        line-height: var(--boxx-header-title-line-height, inherit);
        text-align: var(--boxx-header-title-text-align, center);
        font-size: var(--boxx-header-title-font-size, 21px);
        font-weight: var(--boxx-header-title-font-weight, 700);
        color: var(
            --boxx-header-title-color,
            var(--ion-color-primary-contrast)
        );
    }
}
