.icon-wrapper {
    height: var(--boxx-content-divider-height, 4px);
    margin-top: var(--boxx-content-divider-margin-top, 22px);
    margin-bottom: var(--boxx-content-divider-margin-bottom, 22px);
    margin-left: var(--boxx-content-divider-margin-left, 16px);
    margin-right: var(--boxx-content-divider-margin-right, 16px);
    padding: var(--boxx-content-divider-padding, 0);
    line-height: var(--boxx-content-line-height, 0);
    ion-icon {
        width: var(--boxx-icon-width, 100%);
        height: var(--boxx-icon-height, 4px);
    }
}

:host([position="vertical"]) > div {
    border: 1px solid white;
    transform: rotate(90deg);
    transform-origin: left;
    position: relative;
    width: 100%;
}
