:host{
    ion-toolbar.md {
        ion-title {
            padding: 0;
        }
    }
    
    .custom-item{
        ion-label{
            padding-left: 16px;

            .attendee-chip p:first-child{
                display: flex;
                justify-content: space-between;

                ion-icon {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        ion-chip{
            ion-label{
                padding-left: 0px;
            }
        }
    }
}

ion-label.attendee-chip p:first-child{
    display: flex;
    justify-content: space-between;

    ion-icon {
        width: 20px !important;
        height: 20px !important;
    }
}