<ion-header mode="md" class="ion-no-border">
    <ion-toolbar color="primary">
        <div class="brand-icon-wrapper">
            <ion-icon src="assets/icon/Icon_Header_Brand.svg"></ion-icon>
        </div>

        <ion-title>
            <div class="custom-header-wrapper">
                {{'GENERAL.ACTION.'+ (action == 'CREATE' ? 'create' : 'update') | translate}} {{'GENERAL.event' |
            translate}}
            </div>
        </ion-title>

        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button [disabled]="true">
                <ion-icon></ion-icon>
            </ion-button>
        </ion-buttons>

        <boxx-native-version-info></boxx-native-version-info>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

    <ion-list [formGroup]="eventForm">
        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>
                FORM.LABEL.eventName
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="title"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validationMessages.title">
            <div class="error-feedback"
                *ngIf="eventForm.get('title').hasError(validation.type) && eventForm.get('title').invalid && (eventForm.get('title').dirty || eventForm.get('title').touched)">
                <p>{{validation.message | translate: validation.params}}</p>
            </div>
        </div>

        <ion-item class="boxx-input-item custom-item ion-no-padding">
            <ion-label>
                <p translate (click)="openSearchPlace()">
                    <ion-text color="primary" translate>FORM.LABEL.place</ion-text>
                    <ion-icon name="search-outline" color="primary" style="margin-left: 8px;"></ion-icon>
                </p>
                <p [hidden]="eventForm.get('place').value" (click)="openSearchPlace()">
                    <ion-text color="medium" translate>EVENTS.tapToSearchPlace</ion-text>
                </p>
                <p [hidden]="!eventForm.get('place').value" (click)="openSearchPlace()" class="ion-text-wrap">
                    <ion-text color="medium">{{eventForm.get('place').value}}</ion-text>
                </p>
            </ion-label>
        </ion-item>
        <!--<div *ngFor="let validation of validationMessages.place">
      <div class="error-feedback"
        *ngIf="eventForm.get('place').hasError(validation.type) && eventForm.get('place').invalid">
        <p>{{validation.message | translate: validation.params}}</p>
      </div>
    </div>-->

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>
                GENERAL.from
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime #myStartPicker cancelText="{{'GENERAL.ACTION.cancel' | translate}}" doneText="Ok"
                formControlName="datetime_from" displayFormat="DD MMMM YYYY - HH:mm"
                value="{{eventForm.get('datetime_from').value}}" (ionChange)="dateChange(myStartPicker.value)"
                placeholder="{{'GENERAL.ACTION.selectDate' | translate}}" monthNames="{{monthNames}}"></ion-datetime>
        </ion-item>
        <div *ngFor="let validation of validationMessages.datetime_from">
            <div class="error-feedback"
                *ngIf="eventForm.get('datetime_from').hasError(validation.type) && eventForm.get('datetime_from').invalid && (eventForm.get('datetime_from').dirty || eventForm.get('datetime_from').touched)">
                <p>{{validation.message | translate: validation.params}}</p>
            </div>
        </div>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>
                GENERAL.to
                <!--<ion-text color="danger">*</ion-text>-->
            </ion-label>
            <ion-datetime #myEndPicker cancelText="{{'GENERAL.ACTION.cancel' | translate}}" doneText="Ok"
                formControlName="datetime_to" (ionChange)="dateChange(myEndPicker.value, false)"
                displayFormat="DD MMMM YYYY - HH:mm" value="{{eventForm.get('datetime_to').value}}"
                placeholder="{{'GENERAL.ACTION.selectDate' | translate}}" monthNames="{{monthNames}}"></ion-datetime>
        </ion-item>
        <!--<div *ngFor="let validation of validationMessages.datetime_to">
      <div class="error-feedback"
        *ngIf="eventForm.get('datetime_to').hasError(validation.type) && eventForm.get('datetime_to').invalid">
        <p>{{validation.message | translate: validation.params}}</p>
      </div>
    </div>-->

        <ion-item class="boxx-input-item custom-item ion-no-padding">
            <ion-label class="attendee-chip" color="primary">
                <p (click)="openContactPicker()" class="vertical-center">
                    <ion-text color="primary" translate>FORM.LABEL.attendees</ion-text>
                    <ion-icon name="add-circle" color="primary"></ion-icon>
                </p>
                <p [hidden]="evAttendees.length > 0" (click)="openContactPicker()">
                    <ion-text color="medium" translate>EVENTS.tapToSelectContact</ion-text>
                </p>
                <ion-chip *ngFor="let contact of evAttendees">
                    <ion-avatar>
                        <div>{{contact.name[0]}}{{contact.lastName[0]}}</div>
                    </ion-avatar>
                    <ion-label (click)="showAttendeeDetails(contact)">{{contact.name}} {{contact.lastName}}</ion-label>
                    <ion-icon name="close-circle-outline" (click)="removeAttendee(contact)"></ion-icon>
                </ion-chip>
            </ion-label>
        </ion-item>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>
                FORM.LABEL.description
                <!--<ion-text color="danger">*</ion-text>-->
            </ion-label>
            <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
    </ion-list>

    <div class="ion-margin-vertical">
        <ion-button color="primary" expand="block" [disabled]="eventForm.invalid" (click)="upsertEvent()">
            {{(action == 'CREATE' ? 'GENERAL.ACTION.create': 'GENERAL.ACTION.update') | translate}} {{'GENERAL.event' |
            translate}}
        </ion-button>
    </div>

</ion-content>