<div class="boxx-panel-widget">
    <ion-item lines="none" [hidden]="!title">
        <ion-label class="widget-title">{{title}}</ion-label>

        <ion-note slot="end">
            <ng-content select="div[forwardLink]"></ng-content>
        </ion-note>
    </ion-item>

    <ng-content></ng-content>
</div>